footer.content-info {
	//background: $brand-primary;
	//border-top: 1px solid $brand-primary;
	//color: $white;
	color: $brand-primary;
	font-size: .6rem;
	position: relative;
	border-top: 1px solid $brand-light-background;
	
	@include media-breakpoint-up(sm) { 
		font-size: .7rem;
	}
	
	.container {
		
	}
	
	img.footer-logo {
		//filter: brightness(0) invert(1);
		max-width: 60%;		
	}
	
	a {
		//color: $white;
		color: $brand-primary;
	}
	
	.footer-columns {
		padding-top: 2rem;
		padding-bottom: 1.5rem;
		
	}
	
	.footer-nav {
		margin-bottom: 0;
		
		li {
			display: block;
			padding: .2rem 0;
			a {
				display: block;
			}
		}	
		
		@include media-breakpoint-up(sm) { 
			
			li {
				display: inline-block;
				padding: 0 .7rem;
			}
		
		}
	}
	
	.footer-logo-wrap {
		margin-bottom: 1.5rem;
	}
	
	.footer-nav-wrap {
		margin-bottom: 1.5rem;
	}
	
	.footer-social {
		ul {
			li {
				margin-left: 1rem;
				line-height: 1rem;
				
				&:first-child {
					margin-right: .3rem;
				}
				
				i {
					font-size: .9rem;
					position: relative;
					top: 1px;
				}
				a {
					
				}
			}
		}
	}
	
	.footer-logo-wrap,
	.footer-nav-wrap,
	.footer-social {
		text-align: center;
	}
	
	@include media-breakpoint-up(sm) { 
		.footer-logo-wrap {
			text-align: left;
			margin-bottom: 0;
		}
		
		.footer-nav-wrap {
			margin-bottom: 0;
		} 
		
		.footer-social {
			text-align: right;
		}
		
	}
	
	.copyright {
		//border-top: 1px solid $white;
		//border-top: 1px solid $brand-primary;
		padding-top: 0;
		padding-bottom: 2rem;
	}
	
}

.bottom-background {
	position: absolute;
	top: -50vh;
	width: 100%;
	z-index: -1;
	div {
		height: 50vh;
		@include background-cover();
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: -moz-linear-gradient(top, rgba(255,255,255,1) 20%, rgba(255,255,255,0.25) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 20%,rgba(255,255,255,0.25) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,1) 20%,rgba(255,255,255,0.25) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#40ffffff',GradientType=0 );			
			
		}		
	}
}