// Start Main Header
header.banner {
	//padding-bottom: 2rem;
	
	// Start Header Top
	.header-top {
		background: $brand-light-background;
		margin-bottom: 2rem;
		font-size: .6rem;
		
		@include media-breakpoint-up(sm) { 
			font-size: .8rem;
		}
		
		.head-search-link {
			i.fa {
				margin-left: .2rem;
			}	
		}
		
		// Start User Links
		ul.user-links {
			@extend .clearfix;
			li {
				position: relative;
				margin: 0;
				&:last-child {
					&:after {
						display: none;
					}
				}
				a {
					padding: .5rem .5rem;
					@include animate-element(.2s);
					
					@include media-breakpoint-up(sm) { 
						padding: .8rem 1rem;
					}
					&:hover {
						background: $brand-secondary;
						color: $white;
						text-decoration: none;
						cursor: pointer;
					}
				}
			}
		} // End User Links
		
		// Start Header Social
		.header-social {
			font-size: .8rem;
			
			@include media-breakpoint-up(sm) { 
				font-size: 1rem;
			}
			
			ul {
				li {
					margin-left: .5rem;
					@include media-breakpoint-up(sm) { 
						margin-left: 1rem;
					}
					&:first-child {
						display: none;
					}
					
					a {
						
					}
					
				}
			}
		} // End Header Social
		
	} // End Header Top
	
} // End Main Header

// Start Navigation

body.single-collections {
	.nav-primary {
		border-bottom: none !important;
	}
}

.nav-primary {
	border-bottom: 1px solid $brand-light-background;
	padding-bottom: 2rem;
	
	// Start Nav
	.nav {
		padding-left: 15px;
		font-size: 1rem;
		li {
			position: relative;
			width: 33.333333%;
			text-align: center;
			padding: .7rem 0;
			a {
				display: block;
			}
			&.active {
				a {
					position: relative;
					&:after {
						content: '';
						width: 40px;
						height: 1px;
						background: $brand-primary;
						display: block;
						position: absolute;
						bottom: -10px;
						left: 50%;
						margin-left: -20px;
					}
				}
			}
			.sub-menu {
				display: none;
				position: absolute;
				top: 100%;
				z-index: 100;
				left: 50%;
				background: $brand-primary;
				list-style: none;
				padding: 0;
				min-width: 220px;
				margin-left: -110px;
				padding: 0;
				li {
					width: 100%;
					text-align: left;
					border-bottom: 1px solid $brand-border;
					padding: 0;
					a {
						color: $white;
						text-decoration: none;
						display: block;
						font-size: .9rem;
						padding: .5rem 1rem;
						left: 0;
						position: relative;
						@include animate-element(.2s);
						&:hover {
							
							background: $brand-hover;
						}
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}
			&:hover {
				.sub-menu {
					display: block;
				}
			}
		}
	} // End Nav
	
}
body.home {
	.nav-primary {
		border-bottom: none;
	}
}
// End Navigation


// Start Logo
	.brand {
		text-align: center;
		img {
			width: 50%;
			@include media-breakpoint-up(sm) { 
				width: 75%;
			}
		}
	}
// Start Logo

#my-icon {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -33px;
	z-index: 20;
	padding: .2rem 1rem;
	.hamburger-inner,
	.hamburger-inner:after, 
	.hamburger-inner:before {
		background: $tan;
	}
	.hamburger-box {
		width: 30px;
	}
	.hamburger-inner, 
	.hamburger-inner:after, 
	.hamburger-inner:before {
		width: 30px;
		height: 3px;
	}
	
}