.page-header {
	border-bottom: 1px solid $brand-light-background;
	margin-bottom: 2rem;
	margin-left: -15px;
	margin-right: -15px;
	h1 {
		margin: 0 1rem 1rem;
	}
}

main.main {
	padding-top: 5rem;
	padding-bottom: 3.5rem;
	@include media-breakpoint-up(sm) { 
		padding-top: 5rem;
	}
	article,
	.standard-text,
	.featured-fabrics,
	.history,
	 {
		ul {
			padding: 0 1rem;
			li {
				position: relative;
				padding-left: .7rem;
				margin-bottom: .2rem;
				font-style: italic;
				&:before {
					content: '\f111';
					font-family: $fontawesome;
					position: absolute;
					top: 8px;
					left: 0;
					font-size: 5px;
					color: $brand-primary;
				}
				
			}
		}
	}
}

.modal-backdrop.show {
	opacity: .8;	
}

// Carousel Styles
.owl-banner {
	position: relative;
	.owl-item {
		> div {
			min-height: 40vh;
			position: relative;
			@include background-cover();
			
			.slide-link {
				position: absolute;
				left: 0;
				bottom: 0;
				display: block;
				background: $brand-secondary;
				color: $white;
				padding: 1rem 1rem;
				font-size: 1rem;
				width: auto;
				@include animate-element(.2s);
				&:hover {
					text-decoration: none;
					background: $brand-primary;
				}
				@include media-breakpoint-up(sm) { 
					padding: 2rem 3rem;
					font-size: 1.5rem;
				}
			}
			
			@include media-breakpoint-up(sm) { 
				min-height: 70vh;
			}
			
		}
	}
	
	.owl-dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		text-align: center;
		.owl-dot {
			width: 15px;
			height: 15px;
			background: transparent;
			border: 1px solid $brand-primary;
			display: inline-block;
			margin: 0 .3rem;
			
			@include round(15px);
			&.active {
				background: $brand-primary;
			}
		}
		
		@include media-breakpoint-up(sm) { 
			right: 2rem;
			left: inherit;
			bottom: 2rem;
			.owl-dot {
				border: 1px solid $white;
				&.active {
					background: $white;
				}
			}
		}
	}
	
	.owl-nav {
		
		.owl-prev {
			
		}
		
	}
	
}

.owl-carousel {
	
	.owl-nav {
		.owl-prev,
		.owl-next {
			font-size: 4rem;
			position: absolute;
			top: 50%;
			color: $white;
			display: block;
			padding: 0 1rem;
			margin-top: -60px;
			text-shadow: 0px 0px 5px #000;
			z-index: 2001;
			&.disabled {
				display: none;
			}
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}

		
		@include media-breakpoint-up(sm) { 

			.owl-prev,
			.owl-next {
				font-size: 5rem;
				padding: 0 2rem;
				margin-top: -70px;
			}
		
		}
	}
	
	&.owl-installs,
	&.owl-asi {
		
		.owl-nav {
			.owl-prev,
			.owl-next {
				margin-top: -25px;
				background: $brand-primary;
				line-height: 50px;
				padding: 0;
				width: 30px;
				height: 50px;
				text-shadow: 0px 0px 0px #000;
				color: $white;
				font-size: 2rem;
				text-align: center;
				
				@include animate-element(.2s);
				i.fa {
					line-height: 50px;
					position: relative;
					top: -1px;
				}
				&:hover {
					background: $brand-secondary;
				}
			}
			.owl-prev {
				left: 0px;
				padding-right: 0px;
				-webkit-border-top-right-radius: 300px;
				-webkit-border-bottom-right-radius: 300px;
				-moz-border-radius-topright: 300px;
				-moz-border-radius-bottomright: 300px;
				border-top-right-radius: 300px;
				border-bottom-right-radius: 300px;

				i.fa {
					left: -2px;
				}
			}
			.owl-next {
				right: 0px;
				padding-left: 0px;
				-webkit-border-top-left-radius: 300px;
				-webkit-border-bottom-left-radius: 300px;
				-moz-border-radius-topleft: 300px;
				-moz-border-radius-bottomleft: 300px;
				border-top-left-radius: 300px;
				border-bottom-left-radius: 300px;
				i.fa {
					right: -2px;
				}
			}	
	
			@include media-breakpoint-up(sm) { 
				.owl-prev,
				.owl-next {
					@include round(300px);
					width: 50px;
				}
				.owl-prev {
					left: -25px;
				}
				.owl-next {
					right: -25px;
				}				
			}					

		}
		
	}
	
}

.banner-wrap {
	position: relative;
	
	.owl-nav {
		display: none;
		@include media-breakpoint-up(sm) { 
			display: block;
		}
	}
	
	.collection-banner-info {
		position: absolute;
		top: 50%;
		left: 2rem;
		right: 2rem;
		text-align: center;
		z-index: 2000;
		margin-top: -15%;
		h1 {
			color: $white;
			margin-bottom: 2rem;
			font-size: 1.7rem;
			text-shadow: 0px 0px 5px #000;
		}
		@include media-breakpoint-up(sm) { 
			left: 5rem;
			right: 5rem;
			margin-top: -6%;
			h1 {
				font-size: 4rem;
				margin-bottom: 5rem;				
			}
		}
	}
}


// Start Section Styles
.section-block {
	margin-bottom: 2rem;
	border-bottom: 1px solid $brand-light-background;
	padding-bottom: 1.5rem;
	
	&.as-seen-in {
		border-bottom: none;
	}
	
	header.section-header {
		text-align: center;
		margin-bottom: 2rem;
		h2 {
			margin-bottom: 0;
			color: $brand-primary;
			&:after {
				content: '';
				max-width: 10vw;
				height: 1px;
				display: block;
				margin: 0 auto;
				background: $brand-primary;
				margin-top: 1.5rem;
			}
		}
	}
	
	.intro {
		margin-bottom: 2.5rem;
	}
	
	@include media-breakpoint-up(sm) {
		margin-bottom: 4rem;
		padding-bottom: 4rem;
	}
	
}

// Start Collection Block Styles
.collection-block {
	
	.collection-portrait,
	.collection-landscape {
		text-align: left;
		position: relative;
		@include background-cover();

		.collection-cta {
			background:  rgb(255,255,255);
			background: rgba(255,255,255,.8);
			top: 2rem;
			float: left;
			margin-top: 2rem;
			padding: 1rem 1.5rem;
			h2 {
				color: $brand-primary;
				font-size: 1.5rem;
				margin-bottom: .2rem;
			}
			a {
				text-transform: uppercase;
				font-weight: 300;
			}
			a.btn {
				font-style: italic;
				@include round(0px);
				border: none;
				text-transform: capitalize;
			}
		}
	
		&.featured-collection {
			text-align: center;
			
			.collection-cta {
				background: transparent;
				left: 0;
				right: 0;
				top: 50%;
				position: absolute;
				float: none;
				margin-top: -13%;
				padding: 0;
				div {
					max-width: 70%;
					margin: 0 auto;
				}
				
				h2 {
					color: $white;
					font-size: 1.5rem;
					margin-bottom: 1rem;
					text-shadow: 2px 2px 5px #000000;
				}
				
				@include media-breakpoint-up(sm) { 
					div {
						max-width: 50%;
					}
					h2 {
						font-size: 2rem;
					}
				}
			}
			
		}
	
	}
	.collection-portrait {
		height: 60vh;
		margin-bottom: 30px;
		@include media-breakpoint-up(sm) { 
			height: 80vh;
			margin-bottom: 0;
		}
	}	
	.collection-landscape {
		
		position: relative;
		@include background-cover();
		&:last-child {
			margin-bottom: 0;
		}
		
		&.img-2,
		&.img-3 {
			min-height: 40vh;
			&:after {
				content: '';
				width: 100%;
				height: 15px;
				position: absolute;
				display: block;
				background: $white;
				z-index: 20;
			}
			@include media-breakpoint-up(sm) { 
				min-height: inherit;
			}
		}
		
		&.img-2 {
			padding-bottom: 15px;
			&:after {
				bottom: 0;
			}
		}

		&.img-3 {
			padding-top: 15px;
			&:after {
				top: 0;
			}
		}

	}
	
} // End Collection Block Styles

// Start Article Collection Styles
body.tax-collection {
	main.main {
		padding-top: 0;
	}
}

.collection-nav {
	text-align: center;
	//border-top: 1px solid $brand-border;
	padding: 2rem 0 4rem;
	margin-bottom: 0;
	text-transform: uppercase;
	font-family: $nav-font;
	font-size: .7rem;
	li {
		display: inline-block;
		margin: 0 1.5rem;
		padding-bottom: .3rem;
		a {
			display: block;
		}
		
		&.active {
			font-weight: 900;
			border-bottom: 2px solid $brand-primary;	
		}
		
	}
	
}

article.collections {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	.pad-content {
		padding: 0 1rem;
	}
	h2 {
		font-size: 1.8rem;
		line-height: 1.8rem;
		margin-bottom: .5rem;
	}
	p {
		font-size: .9rem;
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}
	img {
		margin-bottom: 1.2rem;
	}
	.pull-md-6.text-right {
		text-align: left !important;
	}
	@include media-breakpoint-up(md) { 
		margin-top: 0;
		margin-bottom: 5rem;
		.pad-content {
			padding: 0 2rem;
		}
		h2 {
			font-size: 2.5rem;
			line-height: 2.6rem;
			margin-bottom: 1rem;
		}
		p {
			margin-bottom: 1.5rem;
		}
		img {
			margin-bottom: 0;
		}
		.pull-md-6.text-right {
			text-align: right !important;
		}
	}
} // End Article Collection Styles

// Start Standard Text Styles
.standard-text {

	.content-padding {
		padding-left: 0rem;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 2rem;
		font-size: 3rem;
	}
	
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	img {
		margin-bottom: 2rem;
		max-height: 600px;
	}
	
	@include media-breakpoint-up(sm) {
		.content-padding {
			padding-left: 2rem;
		}
		img {
			margin-bottom: 0;
		}
	}
	
} // End Standard Text Styles

// Start Featured Fabrics Styles
.featured-fabrics {
	.col-sm-4 {
		margin-bottom: 2rem;
	}
	img {
		max-width: 60%;
		margin-bottom: 1.5rem;
	}
	
	h4 {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
	}
	
	p {
		font-size: .9rem;
		line-height: 1.5rem;
		margin: 0 1.5rem 1.5rem;
	}
	
	@include media-breakpoint-up(sm) {
		.col-sm-4 {
			margin-bottom: 0;	
		}
		
	}
	
} // End Featured Fabrics Styles

.collection-buttons {
	text-align: center;
	
	a.btn {
		display: inline-block;
		margin: 0 1rem 1rem;
	}
	@include media-breakpoint-up(sm) {
		a.btn {
			margin: 0 1rem;	
		}
	}
}

section.columns {
	
	.gray {
		background: $brand-light-background;
	}
	
	.col-inner {
		padding: 0rem 2rem 2rem;
		&.top-padding {
			padding: 2rem 2rem 2rem;	
		}	
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-size: 2rem;
		color: $brand-primary;
		margin-bottom: 1rem;
	}
		
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

#accordion {
	padding: 1.5rem;
	.card {
		margin-bottom: 2.5rem;
		border: none;
		background: $brand-light-background;
	}
	
	.card-header {
		background: transparent;
		border-bottom: none;
		padding: 1rem 1.5rem 1rem;
		h5 {
			font-size: 1.4rem;
			margin-bottom: .7rem !important;
			border-bottom: 1px solid $white;
			padding-bottom: .5rem;
		}
		p {
			margin-bottom: 1rem;
		}
		a {
			&:before {
				font-family: $fontawesome;
				color: $tan;
			}
		}
		a[aria-expanded="false"] {
			&:before {
				content: '\f055';
			}
		}
		a[aria-expanded="true"] {
			&:before {
				content: '\f056';
			}
		}
	}
	
	.collapse,
	.collapsing {
		.card-block {
			border-top: 1px solid $white;
			padding: 1.5rem 0 0;	
			margin: 0 1.5rem;
			
			ul {
				font-size: .9rem;
				margin: 0 .5rem 2rem;
				li {
					position: relative;
					padding-left: .7rem;
					margin-bottom: .3rem;
					&:before {
						content: '\f111';
						font-family: $fontawesome;
						position: absolute;
						top: .4rem;
						left: 0;
						font-size: 5px;
						color: $tan;
					}
				}	
			}
			
		}
	}
	
}

.history {
	
	margin-left: 15px;
	margin-right: 15px;
	
	.pull-sm-6 {
		text-align: left !important;
	}

	.inner {
		padding: 0 0 2.5rem;
	}
	
	cite,
	h3,
	p {
		color: $brand-primary;
	}
	
	cite {
		font-weight: 900;
		font-size: 2rem;
	}
	h3 {
		font-family: $nav-font;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.2rem;
		
	}
	p {
		font-style: italic;
		font-size: .9rem;
	}
	
	img {
		max-height: 300px;
		margin: 0 auto;
		width: auto;
	}
	
	@include media-breakpoint-up(sm) { 
		margin-left: -15px;
		margin-right: -15px;
		.inner {
			padding: 0 2.5rem 2.5rem;
		}
		.pull-sm-6 {
			text-align: right !important;
		}
		.pull-sm-6,
		.img-left {
			position: relative;
			&.history-content {
				border-right: 1px solid $brand-primary;
			}
			&.image {
				border-right: 1px solid $brand-primary;
			}
			
			&:before {
				content: '\f111';
				font-family: $fontawesome;
				position: absolute;
				top: 15px;
				right: -5px;
				font-size: 10px;
				color: $brand-primary;
				border-top: 2px solid $white;
				border-bottom: 2px solid $white;
			}
		}

	}

}

body.page-template-template-showrooms {
	h3 {
		margin: 0 0 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $brand-light-background;
		color: $brand-primary;
	}
	
	.showroom {
		margin-bottom: 3rem;
		h5 {
			color: $brand-primary;
			margin-bottom: 1rem;
			padding-bottom: .5rem;
			border-bottom: 1px solid $brand-light-background;
		}
		p,
		address,
		ul.showroom-contact {
			margin-bottom: .5rem;
			font-size: .9rem;
		}
		p {
			&.showroom-heading {
				font-weight: 900;
				margin-bottom: 0;
			}
		}
		address {
			
		}
		ul.showroom-contact {
			margin-bottom: 1rem;
			li {
				i.fa {
					margin-right: .3rem;
				}
			}
		}
		button {
			&.btn-info {
				i.fa {
					margin-left: 0;
					margin-right: 5px;
				}
			}
		}
	}
	
}

h3.resource-cat {
	color: $brand-primary;
	margin-bottom: 2rem;
}
.resource-outer {
	margin-bottom: 3rem;
}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
	border-color: $brand-light-background $brand-light-background $white;
}
.nav-tabs {
	border-color: $brand-light-background;
	display: -webkit-block;
	display: -ms-block;
	display: block;
	

	@include media-breakpoint-up(md) { 
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;		
		li {
			//width: 20%;
			text-align: center;
			margin-right: .5rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}

}
.tab-content {
	border-left: 1px solid $brand-light-background;
	border-right: 1px solid $brand-light-background;
	border-bottom: 1px solid $brand-light-background;
	.tab-pane {
		padding: 2rem;
		.resource-wrap {
			margin-bottom: 2rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			outline: none;
			&.glossary {
				display: block;
			}
			&:hover,
			&:focus {
				color: $tan;
				text-decoration: none;
			}
		}
	}
}
.glossary-wrap {
	width: 100%;
	column-count: 2;
	column-gap: 1rem;
	-moz-column-count: 2;
	-moz-column-gap: 1rem;
	-webkit-column-count: 2;
	-webkit-column-gap: 1rem;	

	.glossary-item {
		margin-bottom: .7rem;
		.fa {
			font-size: .6rem;
			position: relative;
			top: -2px;
			color: $tan;
			margin-right: .2rem;
		}
	}
	
	@include media-breakpoint-up(sm) { 

	}
	@include media-breakpoint-up(md) { 
		column-count: 3;
		-moz-column-count: 3;
		-webkit-column-count: 3;
	}
	@include media-breakpoint-up(lg) { 
		column-count: 4;
		-moz-column-count: 4;
		-webkit-column-count: 4;
	}
	
}

.popover.bs-tether-element-attached-bottom:after, .popover.bs-tether-element-attached-bottom:before, .popover.popover-top:after, .popover.popover-top:before {
	left: 17px;
	display: none !important;
}