.page-header {
	border-bottom: 1px solid $brand-light-background;
	margin-bottom: 2rem;
	margin-left: -15px;
	margin-right: -15px;
	h1 {
		margin: 0 1rem 1rem;
	}
}

main.main {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

.modal-backdrop.show {
	opacity: .8;	
}

// Carousel Styles
.owl-banner {
	position: relative;
	.owl-item {
		> div {
			min-height: 70vh;
			position: relative;
			@include background-cover();
			
			.slide-link {
				position: absolute;
				left: 0;
				bottom: 0;
				display: block;
				background: $brand-secondary;
				color: $white;
				padding: 2rem 3rem;
				font-size: 1.5rem;
				width: auto;
				@include animate-element(.2s);
				&:hover {
					text-decoration: none;
					background: $brand-primary;
				}
			}
			
		}
	}
	
	.owl-dots {
		position: absolute;
		right: 2rem;
		bottom: 2rem;
		.owl-dot {
			width: 15px;
			height: 15px;
			background: transparent;
			border: 1px solid $white;
			display: inline-block;
			margin: 0 .3rem;
			@include round(15px);
			&.active {
				background: $white;
			}
		}
	}
	
	.owl-nav {
		
		.owl-prev {
			
		}
		
	}
	
}

.owl-carousel {
	
	.owl-nav {
		.owl-prev,
		.owl-next {
			font-size: 5rem;
			position: absolute;
			top: 50%;
			color: $white;
			display: block;
			padding: 0 2rem;
			margin-top: -70px;
			text-shadow: 0px 0px 5px #000;
			z-index: 2001;
			&.disabled {
				display: none;
			}
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	
	&.owl-installs,
	&.owl-asi {
		
		.owl-nav {
			.owl-prev,
			.owl-next {
				margin-top: -25px;
				background: $brand-primary;
				line-height: 50px;
				padding: 0;
				width: 50px;
				height: 50px;
				text-shadow: 0px 0px 0px #000;
				color: $white;
				font-size: 2rem;
				text-align: center;
				@include round(300px);
				@include animate-element(.2s);
				i.fa {
					line-height: 50px;
					position: relative;
					top: -1px;
				}
				&:hover {
					background: $brand-secondary;
				}
			}
			.owl-prev {
				left: -25px;
				padding-right: 0px;
				i.fa {
					left: -2px;
				}
			}
			.owl-next {
				right: -25px;
				padding-left: 0px;
				i.fa {
					right: -2px;
				}
			}			
		}
		
	}
	
}

.banner-wrap {
	position: relative;
	.collection-banner-info {
		position: absolute;
		top: 50%;
		left: 5rem;
		right: 5rem;
		text-align: center;
		z-index: 2000;
		margin-top: -6%;
		h1 {
			color: $white;
			margin-bottom: 5rem;
			text-shadow: 0px 0px 5px #000;
			font-size: 4rem;
		}
	}
}


// Start Section Styles
.section-block {
	margin-bottom: 4rem;
	border-bottom: 1px solid $brand-light-background;
	padding-bottom: 4rem;
	header.section-header {
		text-align: center;
		margin-bottom: 2.5rem;
		h2 {
			margin-bottom: 0;
			color: $brand-primary;
			&:after {
				content: '';
				max-width: 10vw;
				height: 1px;
				display: block;
				margin: 0 auto;
				background: $brand-primary;
				margin-top: 1.5rem;
			}
		}
	}
	
	.intro {
		margin-bottom: 2.5rem;
	}
	
}

// Start Collection Block Styles
.collection-block {
	
	.collection-portrait,
	.collection-landscape {
		text-align: left;
		position: relative;
		@include background-cover();

		.collection-cta {
			background:  rgb(255,255,255);
			background: rgba(255,255,255,.8);
			top: 2rem;
			float: left;
			margin-top: 2rem;
			padding: 1rem 1.5rem;
			h2 {
				color: $brand-primary;
				font-size: 1.5rem;
				margin-bottom: .2rem;
			}
			a {
				text-transform: uppercase;
				font-weight: 300;
			}
			a.btn {
				font-style: italic;
				@include round(0px);
				border: none;
				text-transform: capitalize;
			}
		}
	
		&.featured-collection {
			text-align: center;
			
			.collection-cta {
				background: transparent;
				left: 0;
				right: 0;
				top: 50%;
				position: absolute;
				float: none;
				margin-top: -13%;
				padding: 0;
				div {
					max-width: 50%;
					margin: 0 auto;
				}
				
				h2 {
					color: $white;
					font-size: 2rem;
					margin-bottom: 1rem;
					text-shadow: 2px 2px 5px #000000;
				}
			}
			
		}
	
	}
	.collection-portrait {
		height: 80vh;
		
	}	
	.collection-landscape {
		
		position: relative;
		@include background-cover();
		&:last-child {
			margin-bottom: 0;
		}
		
		&.img-2,
		&.img-3 {
			&:after {
				content: '';
				width: 100%;
				height: 15px;
				position: absolute;
				display: block;
				background: $white;
				z-index: 20;
			}
		}
		
		&.img-2 {
			padding-bottom: 15px;
			&:after {
				bottom: 0;
			}
		}

		&.img-3 {
			padding-top: 15px;
			&:after {
				top: 0;
			}
		}

	}
	
} // End Collection Block Styles

// Start Article Collection Styles
body.tax-collection {
	main.main {
		padding-top: 0;
	}
}
.collection-nav {
	text-align: center;
	//border-top: 1px solid $brand-border;
	padding: 2rem 0 4rem;
	margin-bottom: 0;
	text-transform: uppercase;
	font-family: $nav-font;
	font-size: .7rem;
	li {
		display: inline-block;
		margin: 0 1.5rem;
		padding-bottom: .3rem;
		a {
			display: block;
		}
		
		&.active {
			font-weight: 900;
			border-bottom: 2px solid $brand-primary;	
		}
		
	}
	
}

article.collections {
	margin-bottom: 5rem;
	.pad-content {
		padding: 0 2rem;
	}
	h2 {
		font-size: 2.5rem;
		line-height: 2.5rem;
		margin-bottom: 1rem;
	}
	p {
		font-size: .9rem;
		line-height: 1.5rem;
		margin-bottom: 1.5rem;
	}
} // End Article Collection Styles

// Start Standard Text Styles
.standard-text {

	.content-padding {
		padding-left: 2rem;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 2rem;
		font-size: 3rem;
	}
	
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	
} // End Standard Text Styles

// Start Featured Fabrics Styles
.featured-fabrics {
	
	img {
		max-width: 60%;
		margin-bottom: 1.5rem;
	}
	
	h4 {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
	}
	
	p {
		font-size: .9rem;
		line-height: 1.5rem;
		margin: 0 1.5rem 1.5rem;
	}
	
} // End Featured Fabrics Styles

.collection-buttons {
	text-align: center;
	a.btn {
		display: inline-block;
		margin: 0 1rem;
	}
}

section.columns {
	.col {
		.col-inner {
			padding: 2rem;			
		}
		&:first-child {
			background: $brand-light-background;
		}
		
		h1, h2, h3, h4, h5, h6 {
			font-size: 2rem;
			color: $brand-primary;
			margin-bottom: 1rem;
		}
		
	}
}