article {
	margin-bottom: 3rem;
	
	header {
		h2 {
			font-size: 1.3rem;
			line-height: 1.5rem;
			color: $brand-secondary;
			text-align: center;
			
			&.entry-title {
				margin: 1rem 1rem 1rem;	

			}
		}
		a {
			&:hover {
				color: $tan;
			}
		}
	}
	
	ul {
		font-size: 1rem;
	}
	
	&.category-whats-new {
		border-bottom: 1px solid $brand-light-background;
		padding-bottom: 1rem;	
		img {
			@include animate-element(.2s);
			-moz-transform: 		scale(1);
			-webkit-transform:  scale(1);
			-o-transform: 			scale(1);
			-ms-transform: 			scale(1);
			transform: 					scale(1);				
			&:hover {
				-moz-transform: 		scale(1.03);
				-webkit-transform:  scale(1.03);
				-o-transform: 			scale(1.03);
				-ms-transform: 			scale(1.03);
				transform: 					scale(1.03);				
			}
		}
	}
	
	&.magazine-block {
		margin-bottom: 2rem;
	}
	
	&.advertise-block {
		
		header {
			border-bottom: 1px solid $tan;
			margin-bottom: 1rem;
			h2 {
				text-align: left;
			}
		}
		
		img {
			margin-bottom: 1rem;
		}
		
	}
	
	img {
		
		&.magazine {
			
		}
		
	}
	
	&.asi {
		border-bottom: 1px solid $brand-light-background;
		padding-bottom: 3rem;
		h1, 
		p,
		a.btn-primary {
			margin-left: 1rem;
			margin-right: 1rem;	
		}
		h1 {
			color: $brand-primary;
		}
		a.btn-primary {
			margin-bottom: 1.3rem;
		}
	}
	
}

