.btn {
	@include round(0px);
	padding: .8rem 1.5rem;	
	font-size: .9rem;
	border: none;
	
	// Primary
	&.btn-primary {
		font-style: italic;
		&:hover {
			background: $brand-hover;
		}
	}
	
	// Secondary
	&.btn-secondary {
		color: $brand-primary;
	}
	
	// Info
	&.btn-info {
		background: $tan;
		color: $white;
		&:hover {
			background: $tan-hover;
		}
	}
	
}