/*  -------------------------------------------------------------
Fonts
-------------------------------------------------------------- */

@font-face {
    font-family: 'Halogen';
    src: url('fonts/Halogen-Reg.eot');
    src: url('fonts/Halogen-Reg.eot?#iefix') format('embedded-opentype'),
         url('fonts/Halogen-Reg.woff') format('woff'),
         url('fonts/Halogen-Reg.ttf') format('truetype'),
         url('fonts/Halogen-Reg.svg#Halogen') format('svg');
    font-weight: normal;
    font-style: normal;
}
